# Dependencies and AdonisJS build
node_modules
build
tmp
storage/uploads

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Git / IDE
.git
.github
.fleet
.idea
.vscode

# Docs / misc
*.md
docs
npm-debug.log
yarn-error.log
.DS_Store
coverage
